{% extends "base.html" %}
{% block content %}
<h2>Reservas de mi Hotel</h2>
<a href="{% url 'crear-reserva-empleado' %}">Crear nueva reserva</a><br><br>

<table border="1">
  <tr>
    <th>Reserva</th>
    <th>Usuario</th>
    <th>Estado</th>
    <th>Check-in</th>
    <th>Check-out</th>
    <th>Habitaciones</th>
    <th>Acciones</th>
  </tr>
  {% for item in reservas_con_habitaciones %}
    <tr>
      <td>#{{ item.reserva.id }}</td>
      <td>{{ item.reserva.usuario.email }}</td>
      <td>{{ item.reserva.estado }}</td>
      <td>{{ item.reserva.fecha_checkin }}</td>
      <td>{{ item.reserva.fecha_checkout }}</td>
      <td>
        {% for h in item.habitaciones %}
          {{ h.habitacion.numero }} ({{ h.habitacion.tipo }})<br>
        {% endfor %}
      </td>
      <td>
        <a href="">Cambiar Estado</a>
      </td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="7">No hay reservas.</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
